body {
    background-color: #abcdef;
}

@media (min-width: 992px) {
    #largeTitle {
        display: inline-block;
    }
    #mediumTitle {
        display: none;
    }
    #smallTitle {
        display: none;
    }
}

@media (max-width: 992px) {
    #largeTitle {
        display: none;
    }
    #mediumTitle {
        display: inline-block;
    }
    #smallTitle {
        display: none;
    }
}

@media (max-width: 768px) {
    #largeTitle {
        display: none;
    }
    #mediumTitle {
        display: none;
    }
    #smallTitle {
        display: inline-block;
    }
}

@media (min-width: 500px) {
    h2 {
        content: "Test";
    }
    p {
        background-color: pink;
    }
}
